body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-content: center;
  background: linear-gradient(
    322deg,
    rgba(43, 46, 39, 1) 29%,
    rgba(28, 28, 28, 1) 29%,
    rgba(28, 28, 28, 1) 40%,
    rgba(43, 46, 39, 1) 40%,
    rgba(43, 46, 39, 1) 48%,
    rgba(28, 28, 28, 1) 48%,
    rgba(28, 28, 28, 1) 92%,
    rgba(113, 174, 33, 1) 92%,
    rgba(113, 174, 33, 1) 100%
  );

  color: white;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

span {
  position: relative;
}

span:before {
  position: absolute;
  content: "";
  height: 0.2em;
  width: 80%;
  bottom: 0.1em;
  z-index: -1;
  background: #71ae21;
}
